style.
  .banner {
    padding-top: 25px;
    text-align: center;
    margin: auto;
    background-color: hsl(134, 9%, 92%);
  }

  .banner-title {
    display: inline-block;
    margin: auto;
    text-align: center;
    line-height: 110%;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid lightgray;
    background-color: hsl(134, 9%, 92%);
  }

  .nav {
    line-height: 100%;
    font-weight: 700;
    font-size: 16px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    padding-bottom: 0px;
    flex-wrap: nowrap;
    width: 100%;
    gap: 12px;
  }

  @media (max-width: 400px) {
    .nav {
      font-size: 12px;
    }
  }

  @media (min-width: 768px) {
    .nav {
      font-size: 20px;
    }
  }

  .nav-item {
    text-align: center;
    flex: 1 1 20px;
  }

  .active {
    border-bottom: solid #228b22 3px;
  }

  .nav-item a {
    padding-bottom: 2px;
    display: inline-block;
  }

  .nav .title {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    padding-bottom: 25px;
  }

  .link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1em;
  }

.banner.row
  .col.banner-title 
    h1(style="line-height: 110%") Rebecca & Alexander
    h3 Healey Barn | July 23rd 2022
.header
  .navbar 
    .nav
      .nav-item
        a(href="/", class=travel || questions || registry || rsvp ? '' : 'active') Home
      .nav-item
        a(href="/travel", class=travel && 'active') Travel and Accomodation
      .nav-item
        a(href="/questions", class=questions && 'active') Questions
      .nav-item
        a(href="/registry", class=registry && 'active') Registry
      .nav-item
        a(href="/rsvp", class=rsvp && 'active') RSVP
      .nav-item
        form.inline(method="post", action="/logout")
          button.link-button(type="submit", name="submit", value="submit") Logout
