style.
  .travel-accom-card {
    max-width: 80%;
    margin: 50px auto;
  }

  .travel-accom-intro {
    font-size: 1.2rem;
    text-align: center;
    padding: 30px 0px;
  }

  .travel-accom-address-wrapper {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .travel-accom-items-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .travel-accom-items-wrapper a {
    flex: 0 0 200px;
  }

  .travel-accom-item span {
    font-size: 1rem;
    line-height: 1rem;
  }

  .gmaps {
    padding: 0;
    margin: auto;
    margin-bottom: 20px;
    height: 400px;
    max-width: 80%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

.container
  .content-card.travel-accom-card
    h2 Travel
    .travel-accom-intro
      a(href="https://g.page/healeybarn?share", target="_blank")
        .travel-accom-address-wrapper
          | Healey Barn, Healey, Riding Mill, Northumberland, NE44 6BN
      p
        | Healey Barn is a 30 minute drive from Central Newcastle with plenty of parking
        | on the site. Alternatively, you can find a list of taxis below.
      p
        | It is <b>important</b> that if you are departing via taxi that you book this in advance. The
        | signal is not reliable at Healey and you are not guranteed to get a taxi if you are staying late.
      p
        | The bar shuts at <b>1AM</b> so if you are planning to stay late, please book your taxi accordingly.
    .travel-accom-items-wrapper
      each taxi in taxis
        a(target="_blank", href=taxi.link)
          .travel-accom-item
            h4 #{taxi.name}
            span #{taxi.based}
  .content-card.travel-accom-card
    h2 Accomodation
    .travel-accom-intro
      span We have listed some hotels for your convenience, more hotels can be found closer to Newcastle which might offer flexilibity at the cost of a longer journey.
      |
      | You can find the hotels listed and more accomodation options on the
      |
      a(
        href="https://crippsandco.com/healey-barn/accommodation",
        style="font-weight: bold"
      ) Healey Barn website
      | .
    .travel-accom-items-wrapper
      each hotel in accom
        a(target="_blank", href=hotel.link)
          .travel-accom-item
            h4 #{hotel.display}
            span #{hotel.pounds} | #{hotel.miles} miles
  .content-card.gmaps
    iframe(
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.9024412635317!2d-1.985935048841519!3d54.922184063114585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487dcfbd9c8fa2f7%3A0x28950d2e4b323dc8!2sHealey%20Barn!5e0!3m2!1sen!2suk!4v1639509228915!5m2!1sen!2suk",
      style="border: 0",
      allowfullscreen="",
      loading="lazy"
    )
