style.
  .travel-accom-card {
    max-width: 80%;
    margin: 50px auto;
  }

  .travel-accom-intro {
    font-size: 1.2rem;
    text-align: center;
  }

  .travel-accom-items-wrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .travel-accom-items-wrapper a {
    flex: 0 0 200px;
  }

  .travel-accom-item span {
    //- font-family: Helvetica;
    font-size: 1rem;
    line-height: 1rem;
  }

.container
  .content-card.travel-accom-card
    h2 Accomodation
    .travel-accom-intro
      span We have listed some hotels for your convenience, more hotels can be found closer to Newcastle which might offer flexilibity at the cost of a longer journey.
      |
      | You can find the hotels listed and more accomodation options on the
      |
      a(
        href="https://crippsandco.com/healey-barn/accommodation",
        style="font-weight: bold"
      ) Healey Barn website
      | .
      .travel-accom-items-wrapper
        each hotel in accom
          a(target="#blank", href="#{hotel.link}")
            .travel-accom-item
              h4 #{hotel.display}
              span #{hotel.pounds} | #{hotel.miles} miles
