style.
  .main {
    background-color: #ffff;
  }

  .home-invite {
    text-align: center;
    padding: 50px;
    height: 70vh;
    margin: auto;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .home-invite:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .screen {
    height: 85vh;
  }

  .anchor-float {
    top: -10vh;
    position: relative;
  }

  .invite-container {
  }

  .venue-container {
  }

  .venue-container img {
    //- width: 100vw;
    height: 85vh;
  }

  .accomodation-container {
    padding-top: 50px;
  }

  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

.container.main
  .invite-container.screen
    #invite.anchor-float
    .row.justify-content-center
      .col-md-6.home-invite.home-text-general
        h4 You are invited to our wedding on July 23rd, 2022
        h5 at
        h4 Healey Barn
        .home-invite-address
          p 
          | Healey
          br
          | Riding Mill
          br
          | Northumberland
          br 
          | NE44 6BN
          br
          | 01434 400 044 / 01434 682 569
        .home-invite-time
          p Ceremony 2:00PM
          p Reception 7:30PM
  .venue-container.screen.full-width
    #venue.anchor-float
    a(href="https://crippsandco.com/healey-barn", target="_blank")
      img(
        src="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/images/healey.jpg"
      )
  .accomodation-container.screen
    #accomodation.anchor-float
    .col-md-12.home-invite.home-text-general
      h4 Accomodation
      .accomodation-description
        span We have listed some hotels for your conveniance, more hotels can be found closer to Newcastle which might offer flexilibity at the cost of a longer journey.
        |
        | You can find the hotels listed and more accomodation options on the
        |
        a(
          href="https://crippsandco.com/healey-barn/accommodation",
          style="font-weight: bold"
        ) Healey Barn website
        | .
      .accomodation-list
        .row.justify-content-center
          .col-md-4
            span Slaley Hall Hotel (7 miles)
            p 
              a(href="https://www.slaleyhallhotel.com", target="_blank") https://www.slaleyhallhotel.com
            br
            span Beaumont Hotel (7 miles)
            p 
              a(href="https://www.thebeaumonthexham.co.uk", target="_blank") https://www.thebeaumonthexham.co.uk
            br
            span Derwent Manor Hotel (8 miles)
            p 
              a(
                href="https://www.bw-derwentmanorhotel.co.uk/",
                target="_blank"
              ) https://www.bw-derwentmanorhotel.co.uk/
            br
            span The Angel Inn (8 miles)
            p 
              a(href="https://www.theangelofcorbridge.com", target="_blank") https://www.theangelofcorbridge.com
            br
          .col-md-4
            span The Anchor Inn (5 miles)
            p 
              a(
                href="https://www.theanchorinnwhittonstall.co.uk",
                target="_blank"
              ) https://www.theanchorinnwhittonstall.co.uk
            br
            span The Duke of Wellington Inn (5 miles)
            p 
              a(
                href="https://www.thedukeofwellingtoninn.co.uk",
                target="_blank"
              ) https://www.thedukeofwellingtoninn.co.uk
            br
            span Lord Crewe Arms Hotel (10 miles)
            p 
              a(
                href="https://www.lordcrewearmsblanchland.co.uk",
                target="_blank"
              ) https://lordcrewearmsblanchland.co.uk
            br
            span The George Hotel (15 miles)
            p 
              a(
                href="https://bespokehotels.com/the-george-hotel",
                target="_blank"
              ) https://bespokehotels.com/the-george-hotel

  //- .screen.taxis-screen
  //-   .row.justify-content-center
  //-     .col-md-8
  //-       h4#taxis Taxis
  //-       .taxis-intro
  //-         span We recommend that you book a taxi in advance as there is no guarantee that they
  //-         | will be available in the evening. We can recommend the following numbers:
  //-       br
  //-       a Corbridge Taxis - 07743382915
  //-       br
  //-       a Hexham Taxis - 07743382915
  //-       br
  //-       a Newcastle Taxis - 07743382915
  //-       br
  //-       a Big Als Taxis - 07743382915

  //- #contact.screen
  //-   .row.justify-content-center
  //-     .col-md-6
  //-       h4 Contact Us
  //-       .contact-intro
  //-         span If you have any questions or queries about the wedding then please
  //-         |
  //-         | feel free to contact us directly. Our contact details are:
  //-       .contact-details
  //-         br
  //-         a(href="mailto:alexburley3@live.co.uk") alexburley3@live.co.uk
  //-         span &nbsp 07743382195
  //-         br
  //-         a(href="mailto:beckypowell84@gmail.com") beckypowell84@gmail.com
  //-         span &nbsp 07743382195
