doctype html

html
  head
    title Alex and Becky
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(
      rel="stylesheet",
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh",
      crossorigin="anonymous"
    )
    script(
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",
      crossorigin="anonymous"
    )
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",
      crossorigin="anonymous"
    )
    script(
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
      crossorigin="anonymous"
    )
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/meta/apple-touch-icon.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/meta/favicon-32x32.png"
    )
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/meta/favicon-16x16.png"
    )
    link(
      rel="manifest",
      href="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/meta/site.webmanifest"
    )
    link(
      rel="mask-icon",
      href="https://wedding-website-images-burlzad.s3.eu-west-2.amazonaws.com/meta/safari-pinned-tab.svg",
      color="#5bbad5"
    )
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(
      href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap",
      rel="stylesheet"
    )
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(
      href="https://fonts.googleapis.com/css2?family=Karla&display=swap",
      rel="stylesheet"
    )
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    include styles/root.style.pug
    include styles/nav.style.pug
    include styles/login.style.pug
    include styles/home.style.pug
  body
    main
      if (authorised)
        if (rsvp)
          include rsvp.pug
        else
          include home.pug
      else
        include login.pug
    .blocker
    footer.footer
      .container
        span.text-muted 2021
